/* Aula inicial :D */
body {
    background-image: url('https://image.freepik.com/vetores-gratis/fundo-geometrico-em-estilo-japones_23-2148474120.jpg');
    background-size: auto 100vh; /* largura automatica e altura 100% do tamanho total da tela, o auto mantém a proporção */
    font-family: Arial;
    height: 100vh; /* garante que a altura do body seja sempre a mesma*/
  }  /* envolve toda a página */
  
  .menu{
    background-color: #EEDD82;
  }  /* classe menu que eu abri lá em nav, por isso colocar o ponto antes do nome */
  
  .menu ul {
    display: flex; /* força a virar colunas*/
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none; /* tirando o underline */
    
  }
  
  a:hover {
    /*trata-se de uma pseudoclasse, não preciso criá-la no html, o css ja entende que ela existe, o hover é um atributo que faz aparecer algo quando passa o mouse em cima*/
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: black;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
  }