/* Aula inicial :D */
*{
  margin: 0; /* reset css - tirando margin e padding e toda página*/
  padding: 0;
}

body {
    background-image: url('../img/background.jpg');
    background-size: auto 100vh; /* largura automatica e altura 100% do tamanho total da tela, o auto mantém a proporção */
    font-size: 10px;
    height: 100vh; /* garante que a altura do body seja sempre a mesma*/
    position: relative;
    width: 100vw;
  }  /* envolve toda a página */

  /*se a tela tiver pelo menos 400px vai carregar esse estilo */
  @media (min-width: 400px){
      body{
        font-size: 8px;
        background-size: 100vw 100vh; 
      }
  }

  /*breakpoint*/
  @media (min-width: 600px){
    body{
      font-size: 10px;
      background-size: 100vw 100vh; 
    }
  }

  @media (min-width: 1200px){
    body{
      font-size: 16px;
      background-size: 100vw 100vh; 
    }
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu{
    width: 8vw;
    padding-right: 40px;
    padding-top: 10px;
  }  /* classe menu que eu abri lá em nav, por isso colocar o ponto antes do nome */
  
  .menu ul {
    /*display: flex;*/  
    text-align: right;
  }

  .menu li{
    list-style: none;
    margin-bottom: 20px;
  }

  .menu a{
    display: block;
    color: black;
    font-size: 1em;
    font-family: 'Audiowide', cursive;
    animation: linear 0.8s animacaoMenu forwards;
    background-color: rgba(230, 163, 157, 0.24);
    border-radius: 10%;
  }
  
  @keyframes animacaoMenu{
    0%{
      opacity:0;
      transform: scale(0.2) translateY(50vh);
    }
    100%{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  a {
    color: black;
    text-decoration: none; /* tirando o underline */
    
  }
  
  a:hover {
    /*trata-se de uma pseudoclasse, não preciso criá-la no html, o css ja entende que ela existe, o hover é um atributo que faz aparecer algo quando passa o mouse em cima*/
    text-decoration: underline;
    color: #B22222;
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  .site-title{
    color: #B22222;
    font-size: 2em;
    font-family: 'Audiowide', cursive;
    text-shadow: black;
    height: 100px;
    padding-left: 10px;
  }
  
  .site-subtitle{
    color: black;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: #EE9A00;
    animation: linear 0.8s animacaoSubtitle forwards;
    padding-bottom: 10px;
    border-bottom: 3px solid #B22222;

  }

  @keyframes animacaoSubtitle{
    0%{
      opacity:0;
      transform: scale(0.2) translateX(25vh);
    }
    100%{
      transform: scale(1) translateX(0);
      opacity: 1;
    }
  }
    
  #subirTopo[href="#top"]{
    text-decoration: none;
    background: #B22222;
    bottom: 20px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    }
    
    #subirTopo:hover[href="#top"] {
    opacity:1;
    }

  .sobre, .portfolio {
    padding: 2em;
    min-height: 100vh;
  }

  .sobre {
    display: block;
  }
  .sobre h2{
    font-family: 'Audiowide', cursive;
    color: #B22222;
    font-size: 2em;
    margin-bottom: 1em;
    border-top: 3px solid #B22222;
  }

  .fotoPerfil{
    height: 18em;
    width: 15em;   
    object-fit: cover;
    object-position: center;
    border-style:ridge;
    border-color: #B22222;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;;
  }

  .sobre p {
    font-size: 1.0em;
  }

  .sobre a{
    color:#B22222;
  }

  .cv{
    padding-bottom: 30px;
    border-bottom: 3px solid #B22222;
  }
  .contato{
    display: flex;
    height: 10vh;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;    
  }
  .contato h2{
    border-top: 3px solid #B22222;
    font-family: 'Audiowide', cursive;
    color: #B22222;
    font-size: 2em;
    margin-bottom: 1em;
    padding-right: 2em;
  }

  .contato a{
    font-size: 4em;
    font-family: 'Roboto', sans-serif;  
    object-fit: cover;
    border-radius: 40%;
    text-decoration: none;
    justify-content: space-between; 
  }

  .contato a:active,
  .contato a:hover{
    color: #B22222;
    transition: 0.7s;
    border-radius: 10%;
    text-shadow: 0px 20px 5px slategray;
  }

    
  @media (min-width: 219px) {
    .icones{
    grid-template-columns: 180px 180px; /*faz duas colunas de 240px*/
    justify-content: space-around;
    }

  .portfolio h2{
    border-top: 3px solid #B22222;
    font-family: 'Audiowide', cursive;
    color: #B22222;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .grid {
    display: grid;
    gap: 1em;
  }

  @media (min-width: 534px) {
    .grid{
    grid-template-columns: 150px 150px; /*faz duas colunas de 240px*/
    justify-content: space-around;
    }
  }

  @media (min-width: 880px) {
    .grid{
    grid-template-columns: repeat(3,150px); /*faz três colunas de 240px*/
    justify-content: space-around;
    height: calc(100vh - 9em)
    }
  }

  .portfolio figure {
    text-align: center;
  }

  figure:active,
  figure:hover{
    text-decoration: underline;
    color: #B22222;
    background-color: rgba(211, 211, 211, 0.356);
    transform: scale(1.2);
    transition: 0.7s;
    border-radius: 10%;
  }

  .img-portfolio{
    height: 80px;
    width: 80px; 
    font-family: 'Roboto', sans-serif;  
    object-fit: cover;
    object-position: center;
    border-radius: 40%;
  }
  }
  @media (min-width: 1200px){
    .img-portfolio, .contato, .sobre{
      height: 50%;
      width: 80%; /*100% da media query definida anteriormente*/   
    }
  }